### kafka and spark
apache-maven-3.3.9/
kafka/*
spark/*

### mvn package file
First_app/target/
logax/target/

### fluent file
fluent/pos/*
fluent/fluent.conf
### all the jar file
.jar
Rule.json
### https://raw.github.com/github/gitignore/573fd7e4d914daa07b846cdc4323bd4813c9f204/Global/vim.gitignore

[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

### log file
.log


### exclude shell script
!kafka/*.sh
!spark/*.sh
.DS_Store
